body {
  background: #fff;
  font-size: 15px;
  font-family: Verdana, sans-serif;
}

.questionSet {
  width: 500px;
  margin: 10px auto;
  background: limegreen;
  border-radius: 5px;
  padding-bottom: 15px;
}

#quiz {
  text-align: center;
  font-size: 17px;
  background: #fff;
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 10px;
}

#option {
 list-style: none;
 padding-bottom: 15px;
}

#option > li:first-child {
  margin-top: 30px;
}

#option > li {
  border: 1px solid gray;
  background: #fff;
  width: 410px;
  padding-left: 10px;
  margin-bottom: 10px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

#option > li:hover {
  opacity: 0.7;
}

#option > li.correct {
  background: skyblue;
}

#option > li.wrong {
  background: tomato;
}



#btn, #result > a {
  background: skyblue;
  width: 150px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 4px 0 rgb(116, 179, 204);
}

#result > a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

#btn:hover, #result > a:hover {
  opacity: 0.7;
}

#btn:active, #result > a:active {
  box-shadow: none;
  position: relative;
  top: 4px;
}

.answer {
  background: #fff;
  width: 400px;
  margin: 0 auto;
}

#answerCheck, #answerExplanation {
  text-align: center;
}

#answerCheck {
  font-size: 18px;
}

.displayNone {
  display: none;
}
